# Environment variables
PORT=8089
MONGO_URI=mongodb://localhost:27017/fashiome-db
JWT_SECRET=your-secret-key-here
FRONTEND_URL=http://localhost:3000
ALLOWED_ORIGINS=http://localhost:3000
PUBLIC_API_URL=http://localhost:8089
GEMINI_API_KEY=your-gemini-api-key-here
OPENAI_API_KEY=your-openai-api-key-here
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@example.com
EMAIL_PASSWORD=your-email-password
EMAIL_FROM=no-reply@fashiome.com
ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_SECRET=your-esewa-secret
KHALTI_SECRET_KEY=your-khalti-secret-key
STRIPE_SECRET_KEY=your-stripe-secret-key


CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
